.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  padding-top: 15px;
  margin: 0px;
  color: white; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.blue{
  color: #FF5722; 
}

.App h2{
  color: #FBE9E7;
  font-size: 1.5em;
  padding: 0; 
  margin: 0; 
}