.Editor{
	max-width: 100vw;
	display: inline !important;
}
ace{
	border: 2pt black;
		display: inline;
	margin-top: 20px;
}
html{
	width: 100%;
	overflow-x: hidden;
}
.Editor span{
	color: black;
}
.selector{
	width: 200px;
}